# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml
# ignore .idea files
AutoAnnotate/.idea
CheckFiles/.idea
CPFinding/.idea
CruciORFs/.idea
HMMERAnnotator/.idea
IntronFinder/.idea
IteronParser/.idea
KeywordSearch/.idea
ParseSeqNames/.idea
SeqListToGB/.idea
SequenceInfo/.idea
UpdateCSV/.idea

# ignore testing project
testing
*.out/
*META-INF/