# Created by .ignore support plugin (hsz.mobi)
*/.idea
*/*.iml
AutoAnnotate/.idea
CheckFiles/.idea
CPFinding/.idea
CruciORFs/.idea
HMMERAnnotator/.idea
IntronFinder/.idea
IteronParser/.idea
KeywordSearch/.idea
ParseSeqNames/.idea
SeqListToGB/.idea
SequenceInfo/.idea
UpdateCSV/.idea
